body{
    color:white
}
#hero {
    min-height: 100vh;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container_nav{
    position: fixed;
    top: 0;
    z-index: 40;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}
#navbarCollapse{
    flex-grow: 0;
}
.robot_animation{
  width: 260%;
  margin: 0% -68%;
}
